Repository dallay/cvix: changes, and which lefthook commands are due for each by the changed paths.
All: ruler-apply, markdownlint

ruler-apply:
  run: pnpm run ruler:apply

markdownlint:
  run: npx --no-install markdownlint-cli2 '**/*.{md,mdx}' --config .markdownlint.json

refactor(workspace): move idempotency logic from handler to domain service
  server/engine/src/main/kotlin/com/cvix/workspace/application/create/CreateWorkspaceCommandHandler.kt
  server/engine/src/main/kotlin/com/cvix/workspace/application/create/WorkspaceCreator.kt
  server/engine/src/test/kotlin/com/cvix/workspace/application/create/CreateWorkspaceCommandHandlerTest.kt
Due: none

refactor(workspace): improve logging and remove infrastructure dependency from application layer
  server/engine/src/main/kotlin/com/cvix/workspace/application/create/CreateWorkspaceCommandHandler.kt
  server/engine/src/main/kotlin/com/cvix/workspace/application/create/WorkspaceCreator.kt
  server/engine/src/main/kotlin/com/cvix/workspace/domain/WorkspaceMetrics.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/metrics/MicrometerWorkspaceMetrics.kt
  server/engine/src/test/kotlin/com/cvix/workspace/application/create/CreateWorkspaceCommandHandlerTest.kt
Due: none

chore(COD-104): remove spring-boot-properties-migrator dependency (#520)
  biome.json
  client/packages/lib/src/core/api/contact-service.ts
  server/engine/build.gradle.kts
  server/engine/src/main/kotlin/com/cvix/workspace/application/create/CreateWorkspaceCommandHandler.kt
  server/engine/src/main/kotlin/com/cvix/workspace/application/create/WorkspaceCreator.kt
  server/engine/src/main/kotlin/com/cvix/workspace/domain/WorkspaceMetrics.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/metrics/MicrometerWorkspaceMetrics.kt
  server/engine/src/test/kotlin/com/cvix/authentication/infrastructure/AuthenticationExceptionAdviceIT.kt
  server/engine/src/test/kotlin/com/cvix/workspace/application/create/CreateWorkspaceCommandHandlerTest.kt
Due: none

chore: update formatting and improve documentation in AGENTS.md and SKILL.md
  .ruler/AGENTS.md
  .ruler/skills/astro/SKILL.md
  .ruler/skills/gradle/SKILL.md
  .ruler/skills/hexagonal-architecture/SKILL.md
  .ruler/skills/kotlin/SKILL.md
  .ruler/skills/spring-boot/SKILL.md
  .ruler/skills/vue/SKILL.md
  gradle/libs.versions.toml
  server/engine/build.gradle.kts
  settings.gradle.kts
  shared/common/build.gradle.kts
  shared/spring-boot-common/build.gradle.kts
Due: ruler-apply, markdownlint

chore: update dependencies and fix version references in configuration files
  .ruler/skills/gradle/SKILL.md
  build-logic/spring-boot-convention/src/main/kotlin/com/cvix/buildlogic/springboot/SpringBootConventionPlugin.kt
  gradle/libs.versions.toml
  server/engine/src/test/kotlin/com/cvix/resume/infrastructure/http/ResumeGeneratorControllerIntegrationTest.kt
Due: ruler-apply, markdownlint

chore: update formatting and improve documentation in AGENTS.md and SKILL.md (#523)
  .ruler/AGENTS.md
  .ruler/skills/astro/SKILL.md
  .ruler/skills/gradle/SKILL.md
  .ruler/skills/hexagonal-architecture/SKILL.md
  .ruler/skills/kotlin/SKILL.md
  .ruler/skills/spring-boot/SKILL.md
  .ruler/skills/vue/SKILL.md
  build-logic/spring-boot-convention/src/main/kotlin/com/cvix/buildlogic/springboot/SpringBootConventionPlugin.kt
  gradle/libs.versions.toml
  server/engine/build.gradle.kts
  server/engine/src/test/kotlin/com/cvix/resume/infrastructure/http/ResumeGeneratorControllerIntegrationTest.kt
  settings.gradle.kts
  shared/common/build.gradle.kts
  shared/spring-boot-common/build.gradle.kts
Due: ruler-apply, markdownlint

ci: update test step to enforce coverage verification
  .github/workflows/ci.yml
Due: none

ci: update test step to enforce coverage verification (#524)
  .github/workflows/ci.yml
Due: none

docs(swagger): add @Tag annotations and standardize Swagger documentation
  .ruler/skills/spring-boot/SWAGGER_STANDARD.md
  .ruler/skills/spring-boot/apply-swagger-standard.sh
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/CsrfController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/RefreshTokenController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/SessionController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/UserAuthenticatorController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/UserLogoutController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/keycloak/FederatedAuthController.kt
  server/engine/src/main/kotlin/com/cvix/config/infrastructure/http/ProfileInfoController.kt
  server/engine/src/main/kotlin/com/cvix/healthcheck/HealthcheckController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/CreateResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/DeleteResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/GetResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/ListResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/ResumeGeneratorController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/TemplateController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/UpdateResumeController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/AccountResourceController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/UserRegisterController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/request/RegisterUserRequest.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/CreateWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/DeleteWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/FindWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/GetAllWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/UpdateWorkspaceController.kt
Due: ruler-apply, markdownlint

docs(swagger): improve import handling and validation in Swagger standardization script
  .ruler/skills/spring-boot/SWAGGER_STANDARD.md
  .ruler/skills/spring-boot/apply-swagger-standard.sh
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/CreateResumeController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/UserRegisterController.kt
Due: ruler-apply, markdownlint

docs(swagger): enhance password schema description with dynamic length constraints
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
Due: none

docs(swagger): update password validation to use dynamic length constraints - enhance error handling in user registration tests
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
  server/engine/src/test/kotlin/com/cvix/users/infrastructure/http/UserRegisterControllerTest.kt
Due: none

Update server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
Due: none

docs(swagger): add @Tag annotations and standardize Swagger documentation (#525)
  .ruler/skills/spring-boot/SWAGGER_STANDARD.md
  .ruler/skills/spring-boot/apply-swagger-standard.sh
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/CsrfController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/RefreshTokenController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/SessionController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/UserAuthenticatorController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/UserLogoutController.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/http/request/LoginRequest.kt
  server/engine/src/main/kotlin/com/cvix/authentication/infrastructure/keycloak/FederatedAuthController.kt
  server/engine/src/main/kotlin/com/cvix/config/infrastructure/http/ProfileInfoController.kt
  server/engine/src/main/kotlin/com/cvix/healthcheck/HealthcheckController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/CreateResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/DeleteResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/GetResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/ListResumeController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/ResumeGeneratorController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/TemplateController.kt
  server/engine/src/main/kotlin/com/cvix/resume/infrastructure/http/UpdateResumeController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/AccountResourceController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/UserRegisterController.kt
  server/engine/src/main/kotlin/com/cvix/users/infrastructure/http/request/RegisterUserRequest.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/CreateWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/DeleteWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/FindWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/GetAllWorkspaceController.kt
  server/engine/src/main/kotlin/com/cvix/workspace/infrastructure/http/UpdateWorkspaceController.kt
  server/engine/src/test/kotlin/com/cvix/users/infrastructure/http/UserRegisterControllerTest.kt
Due: ruler-apply, markdownlint

fix(sync-agents): improve backup variable assignment for clarity
  scripts/sync-agents.sh
Due: none

chore: add blank line for better readability in .gitignore
  .gitignore
Due: none

fix(sync-agents): prevent blank line accumulation in .gitignore
  .gitignore
  scripts/sync-agents.sh
Due: none

refactor: remove unused cursor configuration and related documentation
  .agents/AGENTS.md
  .agents/agents.config.json
Due: markdownlint

refactor: enhance WebFlux security configuration with CSRF protection and update precommit script
  .agents/skills/spring-boot/references/configuration.md
  package.json
Due: markdownlint

refactor: update .gitignore and package.json for improved agent synchronization scripts
  .gitignore
  package.json
Due: none

refactor: migrate from bash script to agentsync CLI tool
  .agents/agents.config.json
  .agents/agentsync.toml
  package.json
  scripts/sync-agents.sh
Due: none

refactor: update dependencies, scripts, and config for dallay namespace and MCP support
  .agents/agentsync.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

refactor: update pnpm-lock.yaml to replace @dallay/* with @cvix/* package references
  pnpm-lock.yaml
Due: none

refactor: update branding to profietailors.com, upgrade pnpm, and improve agentsync integration
  .agents/agentsync.toml
  client/apps/blog/package.json
  client/apps/marketing/package.json
  client/config/package.json
  client/config/styles/index.css
  client/packages/astro-ui/package.json
  client/packages/i18n/package.json
  client/packages/lib/package.json
  client/packages/tsconfig/package.json
  client/packages/utilities/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: update branding to profiletailors.com in CSS and package.json
  client/config/package.json
  client/config/styles/index.css
  client/packages/tsconfig/package.json
  package.json
Due: none

refactor: update support email to support@profiletailors.com in privacy policy and support pages
  client/apps/marketing/src/pages/en/privacy-policy.mdx
  client/apps/marketing/src/pages/en/support.mdx
  client/apps/marketing/src/pages/es/privacy-policy.mdx
  client/apps/marketing/src/pages/es/support.mdx
Due: markdownlint

refactor: update dependencies to latest versions in package.json and pnpm-workspace.yaml
  client/apps/webapp/components.d.ts
  client/apps/webapp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update client/apps/webapp/src/main.ts
  client/apps/webapp/src/main.ts
Due: none

chore(main): remove outdated TODO comment in CSRF token initialization error handling
  client/apps/webapp/src/main.ts
Due: none

perf: bolt startup (#533)
  client/apps/webapp/src/main.ts
Due: none

ci(release): update action versions and add matrix retries to release workflow
  .github/workflows/release.yml
Due: none

chore(config): condense renovate.json by using single-line arrays
  renovate.json
Due: none

chore(deps): update overrides for devalue, h3, tar, diff, and undici to latest versions
  package.json
  pnpm-lock.yaml
Due: none

chore(config): update agentsync.toml and .gitignore for new agent targets and cleanup
  .agents/agentsync.toml
  .gitignore
Due: none

ci(release): replace matrix retries with retry action for semantic-release step
  .github/workflows/release.yml
Due: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

ci: update release workflow (#538)
  .agents/agentsync.toml
  .github/workflows/release.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  renovate.json
Due: none

Path conditions:
  ruler-apply: any of: .ruler/**/*
  markdownlint: any of: **/*.{md,mdx}
